
body, html{
    font-size: 100%;
    font-family: "Helvetica", sans-serif;
}
body,html{
    margin:0;
    padding: 0;
}

nav ul{
    list-style: none;
    padding:0;
    background:#444;
}

nav ul li a{
    color:#ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1.15;
}

nav ul li{
    border-bottom: 1px dotted #ddd;
}

nav{
	   	width: 100%;
	   	position: fixed;
	   	top: 0px;
	   	text-align: center;
	   	transition: .5s;
}

#containar{
	width: 400px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
}

#containar>img{
	width:100%;
	height: 100%;
	position: absolute;
}

#containar>.btn{
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	top: 280px;
	background: black;
	color: white;
	font-size: 20px;
}

#containar>#btn1:hover{
	box-shadow: 10px 0px 20px 10px black;
}

#containar>#btn2:hover{
	box-shadow: -10px 0px 20px 10px black;
}

#containar>#btn2{
	position: relative;
	float: right;
}

#about h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#photos h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#playlist h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#playlist{
	text-align: center;
}

#like h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#like{
	text-align: center;
}

#qrcoder h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#spa h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#contact h1{
	text-align: center;
	background: #444;
	color: #ddd;
}

#contact{
	margin: 0;
	padding: 0;
	text-align: center;
}
.form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control{
	width: 600px;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	font-size: 18px;
	margin-bottom: 16px;
}
.submit{
	background: #ff5722;
	text-align: center;
	border-color: transparent;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
.submit:hover{
	background-color: #f44336;
	cursor: pointer;
}
/*styling logo*/

nav div:first-child{
    background:#222;
}

nav div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}

nav div:first-child h1, nav ul{
    margin:0;
}
  

/*Styling for larger devices*/

@media only screen and (min-width: 30em){
    nav{
        display: flex;
        justify-content: space-between;
        background: #222;
        align-items: center;
    }
    
    nav ul{
        display: flex;
        align-items: center;
        background:none;
        flex-wrap: wrap;
    }
    nav div:first-child h1{
        padding: 0;
        margin:0 1rem;
    }
    nav div:first-child img{
        height: 40px;
        
    }
    nav ul li{
        border-bottom:none;
        flex: 1 0 auto;
        position: relative;
    }
    nav ul li a{
        padding:1.2rem 1rem;
    }
    nav ul li a::before, nav ul li a::after{
        content: "";
        position: absolute;
        bottom:0;
        right: 0;
        width:0%;
        height: 2px;
        background:red;
        transition: .2s width ease-in-out;
    }
    
    nav ul li a::before{
        left:0;
    }
    
    nav ul li a:hover::after,nav ul li a:hover::before{
        width: 50%;
    } 
	
	#about h1{
	text-align: center;
	background: #222;
	color: #ddd;
	}
	
	#photos h1{
	text-align: center;
	background: #222;
	color: #ddd;
    }
    
    #playlist h1{
    	text-align: center;
    	background: #222;
    	color: #ddd;
    }
	
	#playlist{
		text-align: center;
	}
    
    #like h1{
    	text-align: center;
    	background: #222;
    	color: #ddd;
    }
	
	#like{
		text-align: center;
	}
    
    #qrcoder h1{
    	text-align: center;
    	background: #222;
    	color: #ddd;
    }
    
    #spa h1{
    	text-align: center;
    	background: #222;
    	color: #ddd;
    }
    
    #contact h1{
    	text-align: center;
    	background: #222;
    	color: #ddd;
    }
}	